.comment {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 0.5rem 2rem;
  background-color: rgb(200, 207, 207);
  text-align: left;
}

@media (max-width: 768px) {
  .comment {
    padding: 0 0.5rem;
    gap: 0;
  }
}

@media (max-width: 480px) {
  .comment {
    padding: 0 0.25rem;
  }
}
